.Table {
  padding: 15px;
}

.top-toolbar {
  background: SteelBlue  ;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.rld-button {
	padding: 5px;
}

.git-btn {
	padding: 5px;
	margin-left: auto;
}

.status-text {
	padding: 0px 15px;	
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}